.box {
    width: 350px;
    height: 350px;
    margin: 10px 50px;
    padding: 20px;
    box-shadow: black inset -5px -5px 5px;
    border-radius: 30px;
    background-color:white;
}

.score {
    margin-left: 25px;
    padding: 20px;
}

.cards {
    max-width: 190vw;
}