
.button {
    position: absolute;
    margin: 20px 50px;
    left: 20px;
    width: 10%;
    height: 70px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 15px;
}

.button:hover {
    background-color: red;
}

.vid {
    background: #7DD174;
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.mainTitle {
    color: white;
    position: absolute;
    left: 700px;
}